extends layout

block content
  h1 Free Code Camp API Project - Request Header Parser Microservice
  h3 Implemented User Stories
  ul
    li I can get the IP address, language and operating system for my browser.
  h3 Usage Example
    h4 Request
    code potent-cello.glitch.me/api/whoami
    h4 Response
    code { "ip": "X.X.X.X", "language": "en", "os": "Macintosh; Intel Mac OS X 10_12_5" }
